@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--grey-900);
}

main.container {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 370px;
    margin-top: -200px;
    margin-left: -185px;
    border-radius: 8px;
    background-color: var(--grey-800);
    padding-bottom: 20px;
    box-sizing: border-box;
}

.profile {
    text-align: center;
    padding: 20px;
}

.profile figure {
    margin: 0;
    position: relative;
}

.profile-image img {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.profile-info {
    margin-top: 20px;
}

.profile-info h2 {
    font-size: 24px;
    color: var(--white);
    margin-bottom: 10px;
    font-weight: 600;
}

.profile-info .user-location {
    color: var(--green);
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.profile-info .passion {
    font-size: 16px;
    color: var(--white);
    margin-top: 30px;
    font-weight: 400;
}

.social-links {
    text-align: center;
    margin-top: 10px;
}

.social-links h2 {
    font-size: 20px;
    color: var(--white);
    margin-bottom: 10px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    margin-bottom: 10px; 
}

.social-links a {
    text-decoration: none;
    color: var(--white);
    background-color: var(--grey-700);
    border-radius: 5px;
    width: calc(100% - 40px);
    padding: 10px;
    margin: 0 auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: block; 
    font-weight: 700;
}

.social-links a:hover,
.social-links a:focus {
    background-color: var(--green);
    color: var(--grey-700);
    transform: scale(1.05);
    outline: none;
}

.attribution {     
    text-align: center;
    color: var(--white);
    padding: 15px;
    position: fixed;
    top: 82.5%;
    bottom: 16%;
    width: 100%; 
}

.attribution a { 
    color: var(--green); 
    text-decoration: none;
    font-style: italic;
}

@media (max-width: 412px) {
    .social-links a {
        width: 80%;
        margin: 12px auto;
    }
}

@media (max-width: 380px) {
    main.container{
        width: 330px;
        left: 55%;
    }

    .social-links {
        width: 100%;
        margin: 0;
    }

    .social-links a {
        width: 90% !important;
        margin: 10px auto;
    }
}
